<div class="splash-page-c">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="splash-logo">
    <div class="s-logo-text">KoyOutkarm</div>
</div>



<div class = 'btn-cont'><%= button_to "Log in", new_user_session_path, class: 'btn btn-primary me-md-2 b-w-c' %><br />
<button , class= 'btn btn-primary me-md-2 b-w-c' ><%= link_to "Sign up", new_user_registration_path%><br /></div>
</div></button>
